.product > div > div > br.clear {
  display: none;
}

#buy_area {
  background: transparent;
  border: none;
  box-shadow: none;
}

#buy_area > p {
  margin-left: 0;
}

#buy_area .sku {
  display: none;
}

#product_title {
  width: 100%;
}

.affirm-as-low-as {
  max-width: unset;
  margin-bottom: 0;
}

.purchase-details__buttons .action_button.action_button--secondary {
  background: #ef1e30;
  color: #ffffff;
}

.gov-content {
  margin-top: 26.5px;
}

.description.bottom > center {
  display: none;
}

.product .description.bottom .faq-wrapper:first-of-type {
  margin-top: 70px;
}

.gov-content > p {
  font-family: 'Proxima Nova';
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
  font-weight: 700;
}

.gov-content > p > span {
  font-weight: 400;
  display: block;
}

.faq-wrapper {
  padding-bottom: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.faq-question {
  border-top: 1px solid #cccccc;
  position: relative;
}

.faq-question > h2 {
  text-align: left !important;
}

.faq-question > h2::after {
  content: url(https://storage.googleapis.com/images.trinity.one/Corsa%20Performance/CP-A-PDPRedesign-Aug2023/Group%20Copy%203.png);
  position: absolute;
  right: 0;
  transform: rotate(180deg);
}

.faq-wrapper.active {
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.faq-wrapper.active .faq-question > h2::after {
  transform: rotate(0deg);
}

.faq-answer {
  display: none;
}

.faq-wrapper.active .faq-answer {
  display: block;
}

.faq-answer center {
  display: none;
}

.swatch .option_title {
  font-weight: 700;
}

.swatch .option_title span {
  font-weight: 400;
  margin-left: 4px;
}

.shopify-payment-button__more-options {
  display: none;
}

#form_badges {
  padding: 0;
  padding-right: 15px;
}

.rebate {
  background: none;
  color: #000000;
  text-align: left;
  padding-top: 0;
}

.rebate a {
  text-decoration: underline;
  color: #000;
  text-align: left;
  font-size: 14px;
  letter-spacing: -0.2px;
}

@media (min-width: 800px) {
  #buy_area .modal_price {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 0;
  }

  #buy_area .product_form {
    margin-left: 0;
    width: 100%;
  }

  .swatch_options {
    margin-top: 1em;
  }
}

.action_button.klaviyo-bis-trigger {
  margin-top: 15px !important;
}

@media (max-width: 799px) {
  #buy_area {
    padding-bottom: 0;
  }
  .affirm-as-low-as {
    margin-bottom: 0;
  }

  .rebate {
    padding-left: 10px;
  }
}
